<a href="https://colab.research.google.com/github/Poornima61/Assignment/blob/master/Assignment13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
my_data = ("hi", "hello", "bye")
print(my_data)

('hi', 'hello', 'bye')

In [1]:
tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

('tuple', False, 3.2, 1)

In [4]:
def convertTuple(tup): 
    str =  ''.join(tup) 
    return str
   
tuple = ('g', 'e', 'e', 'k', 's') 
str = convertTuple(tuple) 
print(str)

geeks

In [5]:
tup = 'python', 'geeks'
print(tup) 
  
# Another for doing the same 
tup = ('python', 'geeks') 
print(tup)

('python', 'geeks')
('python', 'geeks')

In [8]:
tuple1, tuple2 = (123, 'xyz', 'zara'), (456, 'abc')
print ("First tuple length : ", len(tuple1))
print ("Second tuple length : ", len(tuple2))

First tuple length :  3
Second tuple length :  2

In [9]:
def listtodict(A, di): 
   di = dict(A) 
   return di 
  
A = [("Adwaita", 5), ("Aadrika", 5), ("Babai", 37), ("Mona", 7), ("Sanj", 25), ("Sakya", 30)] 
di = {} 
print ("The Dictionary Is ::>",listtodict(A, di))

The Dictionary Is ::> {'Adwaita': 5, 'Aadrika': 5, 'Babai': 37, 'Mona': 7, 'Sanj': 25, 'Sakya': 30}

In [12]:
def Reverse(tuples): 
    new_tup = tuples[::-1] 
    return new_tup 
       
tuples = ('p','r','e','t','t','y') 
print(Reverse(tuples))

('y', 't', 't', 'e', 'r', 'p')

In [11]:
def listtodict(A, di): 
   di = dict(A) 
   return di 
  
A = [("Adwaita", 5), ("Aadrika", 5), ("Babai", 37), ("Mona", 7), ("Sanj", 25), ("Sakya", 30)] 
di = {} 
print ("The Dictionary Is ::>",listtodict(A, di))

The Dictionary Is ::> {'Adwaita': 5, 'Aadrika': 5, 'Babai': 37, 'Mona': 7, 'Sanj': 25, 'Sakya': 30}