<a href="https://colab.research.google.com/github/Poornima61/Assignment/blob/master/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def largest(n1,n2,n3):

    n1=float(input("enter first nmber:"))
    n2=float(input("enter second number:"))
    n3=float(iput("enter third number:"))

if(n1>=n2) and (n1>=n3):
  largest=n1
elif(n2>=n1) and (n2>=n3):
  largest=n2
else:
  largest=n3
print("the largest number is",largest)

the largest number is 14

In [10]:
def reverse(str):
  s=""
  for ch in str:
    s=ch+s
  return s

mystr="BeginnersBook"
print("Given string:",mystr)

print("Reversed string:",reverse(mystr))

Given string: BeginnersBook
Reversed string: kooBsrennigeB

In [13]:
n=int(input("enter a number:"))

if n>1:
  for i in range(2,n):
    if(n%i)==0:
      print(n,"is not a prime number")
      print(i,"times",n//i,"is",n)
      break
  else:
   print(n,"is a prime number")
else:
  print(n,"is not a prime number")

enter a number:407
407 is not a prime number
11 times 37 is 407

In [15]:
n=int(input("enter a number:"))

temp=n
rev=0
while(n>0):
  digit=n%10
  rev=rev*10+digit
  n=n//10
if(temp==rev):
  print("the given number is palindrome:")
else:
  print("the given number is not palindrome:")

enter a number:23
the given number is not palindrome:

In [16]:
n=16

if n<0:
  print("enter a positive number")
else:
  sum=0
  while(n>0):
    sum+=n
    n-=1
  print("the sum is",sum)

the sum is 136