<a href="https://colab.research.google.com/github/Poornima61/Assignment/blob/master/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
def find_len(list1):
  length=len(list1)
  list1.sort()
  print("largest element is:",list1[length-1])
  print("smallest element is:",list1[0])

list1=[12,4,22,10]  
largest=find_len(list1)

largest element is: 22
smallest element is: 4

In [10]:
def remove(duplicate):
  final_list=[]
  for num in duplicate:
    final_list.append(num)
  return final_list

duplicate=[2,4,10,5,20,4]
print(remove(duplicate))

[2, 4, 10, 5, 20, 4]

In [11]:
def enquiry(list1):
  if len(list1):
    return 0
  else:
    return 1
list1=[]
if enquiry(list1):
  print("the list is not empty")
else:
  print("empty list")

the list is not empty

In [17]:
def cloning(li1):
  li_copy=li1[:]
  return li_copy

li1=[4,8,10,15,18]
li2=cloning(li1)
print("original list:",li1)
print("after cloning:",li2)

original list: [4, 8, 10, 15, 18]
after cloning: [4, 8, 10, 15, 18]

In [20]:
color=["red","green","white","black","pink","yellow"]
color=[x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['green', 'white', 'black']

In [28]:
list1=[10,21,4,45,66,93]

for num in list1:

  if num % 2==0:
    print(num,end=" ")

10 4 66

In [29]:
my_list=['p','r','o','b','e']

print(my_list[-1])

print(my_list[-5])

e
p

In [30]:
A={'a','b','c','d'}
B={'c','f','g'}

print(A.difference(B))

print(B.difference(A))

{'d', 'a', 'b'}
{'f', 'g'}